* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Pour les navigateurs Firefox */
body {
  scrollbar-width: 4px;
  scrollbar-color: #328792 #2c1980;
}

/* Pour les navigateurs WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgb(0, 255, 136) 0%,rgb(24, 158, 191));
  border-radius: 12px;
}

.background{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: black;
}

/*----------------------- MENU ------------------*/

.background_menu{
    position: fixed;
    background-color: rgb(43, 44, 43);
    height: 100%;
    width: 20%;
    box-shadow: 0px 2px 32px 0px rgb(0, 255, 136);
    z-index: 99;
    display: flex;
    flex-direction: column;
}

.bloc_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.bloc_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1.5;
}

.bloc_menu_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}


.bloc_menu_texte{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.596);
    letter-spacing: 0.02em;
    font-size: 20px;
    font-family: 'Salsa';
    flex: 1;
    height: 100%;
}

.bloc_menu_nav li{
    width: 100%;
    height: 100%;
}

.bloc_menu_texte:hover{
    background: linear-gradient(90deg, rgb(0, 255, 136) 0%,rgb(24, 158, 191));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
    letter-spacing: 0.04em;
}

.bloc_reseaux{
    display: flex;
    justify-content: center;
    flex: 0.5;
}

.liste_reseaux {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}



.liste_reseaux li:hover{
  filter: drop-shadow(2px 4px 3px black);
}

.liste_reseaux li a{
  filter: brightness(0.5);
}

.liste_reseaux li a:hover{
  filter: brightness(1);
}

/*-----------------------FIN DU MENU--------------------*/


/*----background contenu de droite ------*/

.background_contenu{
    width: 80%;
    margin-left: 20%;
}

/*---- ACCUEIL ------*/

.background_contenu .accueil{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

.background_contenu .accueil{
    color: white;
}

.background_contenu .accueil .template{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.background_contenu .accueil .texte{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.background_contenu .accueil .texte .titre{
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 1;
    font-size: 36px;
    font-family: Salsa;
    font-style: italic;
}

/* DEBUT ANIMATION DU NOM ET DU PRENOM*/

.background_contenu .accueil .texte .nom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 32px;
    font-family: Salsa;
    font-style: italic;
    font-weight: 700;
}

.animation {
    display: flex;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }
  
  .animation > div > div {
    padding: 0.5rem;
    margin-right: 50px;
  }
  
  .animation div:first-child {
    animation: text-animation 16s linear infinite;
  }
  
  .first div {
    margin-left: 50px;
    width: 500px;
  }
  
  .second div {
    width: 500px;
  }
  
  @keyframes text-animation {
    0% {
      margin-left: -25rem;
    }
    25% {
      margin-left: -3rem;
    }
    40% {
      margin-left: 4rem;
    }
    55% {
      margin-left: 8rem;
    }
    60% {
      margin-left: 10rem;
    }
    70% {
        margin-left: 12rem;
      }
    80% {
        margin-left: 20rem;
      }
    85% {
      margin-left: 24rem;
    }
    90% {
      margin-left: 28rem;
    }
    100% {
      margin-left: 36rem;
    }
  }

.background_contenu .accueil .texte .lien{
    display: flex;
    flex: 1;
    font-size: 24px;
    font-family: Salsa;
    margin-left: 25%;
    margin-right: 20%;
}

.background_contenu .accueil .texte .lien .cv , .background_contenu .accueil .texte .lien .contact{
    display: flex;
    flex: 1;
    justify-content: space-evenly;

}

.background_contenu .accueil .texte .cv .bouton1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1D20;
    width: 75%;
    height: 50px;
    padding: 16px;
    border-radius: 32px;
    border: 2px solid #111212;
    color: #ffffff;
}

.background_contenu .accueil .texte .contact .bouton2{
    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(192, 78%, 42%, 1) 100%);
    width: 100%;
    height: 50px;
    padding: 16px;
    border-radius: 32px;
    border: 2px solid #111212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.background_contenu .accueil .texte .cv .bouton1:hover{
  background: linear-gradient(90deg, rgba(0, 255, 136, 0.705) 0%,rgba(24, 158, 191, 0.699)) 100%;
  font-weight: 700;
  letter-spacing: 0.006em;
}
.background_contenu .accueil .texte .contact .bouton2:hover{
  background: linear-gradient(90deg, rgba(0, 255, 136, 0.705) 0%,rgba(24, 158, 191, 0.699)) 100%;
  font-weight: 700;
  letter-spacing: 0.006em;
}

/* FIN DE L'ACCUEIL*/

/*-----------------DEBUT DU CSS POUR LES HEADER ET TITRE BACK----------------------*/

.presentation .header , .competences .header ,.formation .header, .projet .header, .stage .header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.presentation .header .titre_back, .competences .header .titre_back ,.formation .header .titre_back, .projet .header .titre_back, .stage .header .titre_back{
  background: linear-gradient(90deg, rgb(0, 255, 136) 0%,rgb(24, 158, 191));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  opacity: 0.7;
  font-family: salsa;
  transform: scale(0.7);
}

/*-----------------FIN DU CSS POUR LES HEADER ET TITRE----------------------*/

/*-------------PRESENTATION -----------------*/

.presentation{
  background-color: #212529;
}

.presentation .contenu{
  display: flex;
  flex-wrap: wrap;
  margin-right: 2rem;
}

.presentation .contenu .texte{
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 32px;
}
.presentation .contenu .texte .titre{
  border-left: solid 4px rgb(23, 156, 189);
  padding: 2px 0px 0px 8px;
  color: #fff;
  font-size: 30px;
}

.presentation .contenu .texte .paragraphe{
  padding-top: 16px;
  padding-left: 16px;
  font-size: 24px;
  color: #919391;
}

.presentation .contenu .image{
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center; 
  justify-content: center;
}

b{
  font-size: 26px;
  color: #acacac;
}

/* ------------DEBUT DES COMPETENCES ------------*/

.competences{
  background-color: #343A40;
}

.competences .contenu .bts .titre{
  display: flex;
  align-items: center;
  padding: 30px;
}


.competences .contenu .bts .titre .texte{
  border-left: solid 4px rgb(23, 156, 189);
  padding: 2px 0px 0px 8px;
  color: #fff;
  font-size: 30px;
}

.competences .contenu .language{
}

.competences .contenu .language .titre{
  display: flex;
  align-items: center;
  padding: 30px;
}


.competences .contenu .language .titre .texte{
  border-left: solid 4px rgb(23, 156, 189);
  padding: 2px 0px 0px 8px;
  color: #fff;
  font-size: 30px;
}

.competences .contenu .tableau {
  display: flex;
  padding: 2% 64px;
  align-items: stretch;
}

.competences .contenu .tableau_tp {
  display: flex;
  width: 75%;
  margin-left: 12.5%;
  align-items: stretch;
  box-shadow: 1px 4px 10px 1px black;
  border-radius: 16px;
}
.competences .contenu .tableau .right,
.competences .contenu .tableau .left{
 flex: 1;
 border-radius: 16px;
}

.competences .contenu .journal{
  width: 50%;
  box-shadow: 1px 4px 10px 1px black;
  border-radius: 16px;
  margin: 1%;
  height: fit-content;
}

.competences .contenu .cadre {
  display: flex;
  flex-direction: column;
  background-color: #111418;
  border: 1px solid #fff;
  border-radius: 12px;
  flex: 1 1 45%;
  margin: 1%;
  position: relative;
  overflow: hidden;
}

.competences .contenu .cadre img {
  width: 100%;
  border-radius: 12px;
}

.competences .contenu .cadre .description{
  background-color: #343a40;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: 'Salsa';
  align-items: center;
  font-size: 20px;
  flex-direction: column;
}

.competences .contenu .cadre:hover .description {
  opacity: 0.8;
}
.competences .contenu .cadre:hover .bouton_savoir_plus {
  opacity: 1;
}

.competences .contenu .cadre:hover .description h2,
.competences .contenu .cadre:hover .description p {
  transform: translateY(0);
  opacity: 1;
}

.competences .contenu .cadre .bouton_savoir_plus {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(225deg, hsla(149, 89%, 47%, 1) 0%, hsla(203, 91%, 41%, 1) 100%);
  border-radius: 32px;
  height: 32px;
  cursor: pointer;
  width: 33%;
  opacity: 1;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.competences .contenu .cadre:hover .bouton_savoir_plus {
  transform: translateX(0);
}

.competences .sous-titre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.competences .sous-titre h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: solid 4px rgb(23, 156, 189);
  margin-left: 10%;
  font-family: 'Salsa';
  padding: 2px 16px 0px 8px;
  color: #fff;
  font-size: 24px;
}
/********* ANIMATION DU TABLEAU QUI DEFILE***********/
:root {
  --marquee-width: 80vw;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
    color: #eee;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
  flex-direction: column;
}
.marquee-content li:hover{
  filter: brightness(1.15);
}

.marquee-content li img {
  width: 100%;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
/********* FIN ANIMATION DU TABLEAU QUI DEFILE***********/

.competences .contenu .language .marquee .marquee-content .icone .sous{
  width: 50%;
}

.competences .contenu .language .marquee .marquee-content .icone .sous .rectangle{
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 16px;
  border-radius: 32px;
  margin-top: 5%;
  margin-bottom: 12%;
}

.competences .contenu .language .marquee .icone .sous .rectangle .remplir{
  position: relative;
  height: 100%;
  border-radius: 32px;
  background: linear-gradient(90deg, hsla(242, 61%, 49%, 1) 0%, hsla(262, 96%, 39%, 1) 9%, hsla(290, 70%, 51%, 1) 100%);
}

.competences .contenu .language .marquee .icone .sous .rectangle .remplir::after{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 800;
  letter-spacing: 0.068em;
}

@-moz-keyframes fadein { /* sur Firefox */
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 70%;
    opacity: 1;
  }
}

.bouton_savoir_plus{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, hsla(149, 89%, 47%, 1) 0%, hsla(203, 91%, 41%, 1) 100%);
  border-radius: 32px;
  height: 32px;
  cursor: pointer;
}

.bouton_savoir_plus .modal-btn,
.bouton_savoir_plus .texte{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 1px;
  font-size: 16px;
  font-family: Salsa;
  height: 100%;
  width: 100%;
  color: black;
  background: linear-gradient(225deg, hsla(149, 89%, 47%, 1) 0%, hsla(203, 91%, 41%, 1) 100%);
  border-radius: 32px;
  height: 32px;
  border: 1px solid #000000;
  cursor: pointer;
}

.bouton_savoir_plus .modal-btn img,
.bouton_savoir_plus .texte img{
  margin-left: 5%;
  width: 24px;
  border-radius: 32px;
  background-color: white;
}

.bouton_savoir_plus .modal-btn:hover,
.bouton_savoir_plus .texte:hover{
  background: linear-gradient(90deg, hsl(243.8, 37%, 24.9%) 0%, hsl(261.9, 66.5%, 31.6%) 9%, hsl(289.8, 68.1%, 40.6%) 100%);
  color: #fff;
  font-weight: 500;
}

.bouton_savoir_plus .modal-btn img:hover,
.bouton_savoir_plus .texte img:hover{
  background: linear-gradient(90deg, hsla(242, 61%, 49%, 1) 0%, hsla(262, 96%, 39%, 1) 9%, hsla(290, 70%, 51%, 1) 100%);
  transform: rotate(90deg);
}

/*----------FORMATION---------------*/

.formation{
  display: flex;
  flex-direction: column;
  background-color: #212529;
}

.formation .schema {
  width: 100%;
  height: auto;
  font-family: poppins;
  padding: 50px 0;
  display: grid;
  place-items: center;
}

.formation .schema .tableau {
  width: 70%;
  height: auto;
  position: relative;
}


.formation .schema .tableau ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: #111418;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.192);
  position: relative;
  z-index: 10;
}

.formation .schema .tableau ul li h3 {
  color: #fff;
  margin-bottom: 0.5em;
}

.formation .schema .tableau ul li p {
  font-size: 15px;
  color: #ffffff80;
  margin: 7px 0;
  line-height: 23px;
}

.formation .schema .tableau ul li .more{
  display: none;
  font-size: 15px;
  color: #ffffff80;
  margin: 7px 0;
  line-height: 23px;
}

.formation .schema .tableau ul li .date {
  position: absolute;
  top: -45px;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(90deg, hsla(242, 61%, 49%, 1) 0%, hsla(262, 96%, 39%, 1) 9%, hsla(290, 70%, 51%, 1) 100%);
  display: grid;
  place-items: center;
  font-size: 14px;
  right: 0;
}

.formation .schema .tableau ul::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, hsla(242, 61%, 49%, 1) 0%, hsla(262, 96%, 39%, 1) 9%, hsla(290, 70%, 51%, 1) 100%);
  z-index: 1;
}

.formation .schema .tableau ul li .cercle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(220, 0, 240, 0.401);
  position: absolute;
  top: 0;
}

.formation .schema .tableau ul li:nth-child(odd) .cercle {
  right: -30px;
  transform: translate(50%, -50%);
}

.formation .schema .tableau ul li:nth-child(even) .cercle {
  left: -30px;
  transform: translate(-50%, -50%);
}

.formation .schema .tableau ul li .cercle::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  transform: translate(50%, 50%);
}

.formation .schema .tableau ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
}
.formation .schema .tableau ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}

/*----------PROJETS ---------------*/

.projet{
  display: flex;
  flex-direction: column;
  background-color: #343a40;
}

/*
.projet .contenu .menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: Salsa;
  padding: 32px;
}

.projet .contenu .menu .lien{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: #fff;
}

.projet .contenu .menu .lien:hover{
  background: linear-gradient(90deg, hsla(242, 61%, 49%, 1) 0%, hsla(262, 96%, 39%, 1) 9%, hsla(290, 70%, 51%, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

.projet .titre h1{
  border-left: solid 4px rgb(23, 156, 189);
  margin-left: 10%;
  font-family: 'Salsa';
  padding: 2px 0px 0px 8px;
  color: #fff;
  font-size: 36px;
}

.projet .sous-titre{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.projet .sous-titre h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: solid 4px rgb(23, 156, 189);
  font-family: 'Salsa';
  padding: 2px 16px 0px 8px;
  color: #fff;
  font-size: 26px;
}

.projet .contenu .tableau {
  display: flex;
  padding: 64px;
  align-items: stretch;
}

.projet .contenu .tableau .right,
.projet .contenu .tableau .left{
 flex: 1;
 border-radius: 16px;
}

.projet .contenu .tableau .journal{
  display: flex;
  width: 90%;
  box-shadow: 1px 4px 10px 1px black;
  border-radius: 16px;
}

.projet .contenu .tableau .cadre {
  display: flex;
  flex-direction: column;
  background-color: #111418;
  border: 1px solid #fff;
  border-radius: 12px;
  flex: 1 1 45%;
  margin: 1%;
  position: relative;
  overflow: hidden;
}

.projet .contenu .tableau .cadre img {
  width: 100%;
  border-radius: 12px;
}

.projet .contenu .tableau .cadre .description{
  background-color: #343a40;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  font-family: 'Salsa';
  align-items: center;
  font-size: 20px;
  flex-direction: column;
}

.projet .contenu .tableau .cadre:hover .description {
  opacity: 0.8;
}
.projet .contenu .tableau .cadre:hover .bouton_savoir_plus {
  opacity: 1;
}

.cadre .description h2,
.cadre .description p {
  transition: all 300ms ease-out;
  transform: translateY(30px);
  opacity: 0;
}

.projet .contenu .tableau .cadre:hover .description h2,
.projet .contenu .tableau .cadre:hover .description p {
  transform: translateY(0);
  opacity: 1;
}

.projet .contenu .tableau .cadre .bouton_savoir_plus {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(225deg, hsla(149, 89%, 47%, 1) 0%, hsla(203, 91%, 41%, 1) 100%);
  border-radius: 32px;
  height: 32px;
  cursor: pointer;
  width: 33%;
  opacity: 1;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.projet .contenu .tableau .cadre:hover .bouton_savoir_plus {
  transform: translateX(0);
}
/*-----------------FOOTER BAS DE PAGE-------------------*/

footer .background{
  display: flex;
  background-color: #212529;
  height: 30vh;
  font-weight: 600;
  font-size: 20px;
  color: #ffffffc9;
}

footer .background .left{
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: start;
  justify-content: space-evenly;
  margin-left: 2%;
  font-family: system-ui;
}

footer .background .right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-right: 4%;
  font-family: fantasy;
  font-size: xx-large;
  letter-spacing: 0.06em;
}

footer .background .left p{
  font-size: medium;
  text-decoration: underline;
}
footer .background .right p{
  font-size: medium;
  padding: 4%;
}

footer .referentiel {
  background: linear-gradient(90deg, rgb(0, 255, 136) 0%, rgb(24, 158, 191));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff; /* Ajout de la couleur de base */
  text-decoration: none; /* Suppression du soulignement initial */
}

footer .referentiel:hover {
  text-decoration: underline;
}
/*-----------------CREATION DU POP UP-------------------*/

::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-container_tournoi {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container_tournoi.active {
  /* display: block; */
  visibility: visible;
  z-index: 1000;
}

.modal-container_tournoi.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal-container_tournoi.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.modal-container_espaceb {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container_espaceb.active {
  /* display: block; */
  visibility: visible;
  z-index: 1000;
}

.modal-container_espaceb.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal-container_espaceb.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.modal-container_design {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container_design.active {
  /* display: block; */
  visibility: visible;
  z-index: 1000;
}

.modal-container_design.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal-container_design.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.modal-container_interface {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container_interface.active {
  /* display: block; */
  visibility: visible;
  z-index: 1000;
}

.modal-container_interface.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal-container_interface.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.modal-container_tp {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container_tp.active {
  /* display: block; */
  visibility: visible;
  z-index: 1000;
}

.modal-container_tp.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal-container_tp.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}

.modal-container_scrum {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-container_scrum.active {
  /* display: block; */
  visibility: visible;
  z-index: 1000;
}

.modal-container_scrum.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal-container_scrum.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out,
  transform 0.4s 0.2s ease-out;
}
.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
  z-index: 1000;
}

.modal {
  z-index: 1002;
  opacity: 0;
  width: 95%;
  max-width: 900px;
  min-width: 300px;
  padding: 16px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out,
  transform 0.4s ease-out;
  background-color: rgb(43, 44, 43);
  box-shadow: 1px 4px 10px 1px black;
}

.modal-btn {
  display: block;
  min-width: 150px;
  cursor: pointer;
  flex: 1;
  height: fit-content;
}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}

.modal .top{
  display: flex;
}
.modal .left {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  padding: 0% 16px;
  overflow: hidden;
}

.modal .right{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2% 16px;
}

.modal .bottom{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2% 16px;
}
.modal .left h1 {
  margin-bottom: 10px;
  font-family: 'Salsa';
  font-weight: 500;
  border-bottom: solid 2px rgb(23, 156, 189);
  color: #fff;
}

.modal .right h1 {
  border-left: solid 4px rgb(23, 156, 189);
  margin-bottom: 10px;
  font-family: 'Salsa';
  padding: 2px 0px 0px 8px;
  color: #fff;
  font-size: 30px;
}

.modal .right h2 {
  border-left: solid 4px rgb(23, 156, 189);
  margin-bottom: 10px;
  margin-top: 24px;
  font-family: 'Salsa';
  padding: 2px 0px 0px 8px;
  color: #fff;
  font-size: 20px;
}

.modal .right li {
  border-bottom: 1px solid rgb(20, 20, 20);
  padding: 2%;
  color: #919391;
  font-family: math;
}

.modal .right li .gras {
  color: #fff;
  font-size: 18px;
}

.modal img{
  width: 100%;
  border-radius: 16px;
  max-height: 300px;
}
.modal p {
  line-height: 1.4;
  margin-bottom: 5px;
  padding: 2%;
  font-family: system-ui;
}

.modal .right .lien{
  color: rgb(0, 255, 136);
}
.modal .right .lien:hover{
  text-decoration: underline;
}


.owl-carousel .owl-stage-outer {
  overflow: visible;
}

/*.zoom-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.zoom-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  transform-origin: top left;
}

.zoom-container:hover img {
  transform: scale(2);
}*/