.background_menu{
    position: fixed;
    background-color: rgb(43, 44, 43);
    height: 60px;
    width: 100%;
    border-radius: 0% 0% 40px 40px;
    box-shadow: 0px 2px 32px 0px #08e63f;
}

.bloc_menu{
    display: flex;
    height: 100%;
    flex: 1;
}

.bloc_menu_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    border-bottom: solid 1px rgb(80, 78, 78);
}

.bloc_menu_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.596);
    letter-spacing: 0.02em;
    font-size: 14px;
    font-family: "Salsa";
    height: 100%;
}

.bloc_menu_texte{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.596);
    letter-spacing: 0.02em;
    font-size: 14px;
    font-family: 'Salsa';
    flex: 0.3;
    height: 100%;
    border-top-right-radius: 15px;
}

.bloc_menu_texte1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    letter-spacing: 0.02em;
    font-size: 14px;
    font-family: 'Salsa';
    flex: 0.3;
    height: 100%;
    border-bottom: solid 1px #fff;
    border-top-right-radius: 15px;
}

.bloc_menu_texte1:hover{
    border-bottom: solid 1px #08e63f;
    color: #08e63f;
}

.bloc_menu_texte:hover{
    border-bottom: solid 1px #08e63f;
    color: #08e63f;
}

.menu_hamburger{
    display: none;
    position: absolute;
    right: 35px;
    top: 25px;
    font-size: 35px;
}

@media screen and (max-width: 900px){   
    // DEBUT CREATION DU MENU HAMBURGER 
    .bloc_menu_texte1,.bloc_menu_texte{

    }
    .bloc_menu_nav {
      justify-content: flex-end;
      width: 88%;
      margin-left: 0%;
  }
      .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        cursor: pointer;
        transition: all .5s ease-in-out;
        //border: 3px solid #fff; 
      }
      .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 2px #08e63f;
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px #08e63f;
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      } 
      /* ANIMATION */
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      } 
      // FIN DU MENU HAMBURGER

      .bloc_menu{
          position:absolute;
          top: 0%;
          right: 0%;
          background-color: rgb(43, 44, 43);
          backdrop-filter: blur(7px);
          width: 40%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
      }


      .bloc_menu_nav {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 50%;
          margin-left: 0%;
          border-bottom: solid 1px rgb(80, 78, 78);
      }

      .bloc_menu_texte, .bloc_menu_texte1{
          font-size: 32px;
          margin-top: 32px;
          flex: 0;
      }
     
} 